<h1>Dash Board</h1>

{{!--
<h2></h2>
{{#each potluck}}

<div>

    <h2>{{this.name}}</h2>

    <h2>Coming on {{this.date}}</h2>

    <h2> At {{this.location}}</h2>

    {{!--
    <h2>with {{#each this.guests}}</h2>
    <h3>this.guests.fullName</h3>
    {{/each}} --}} {{!-- </div>


{{/each}} --}} {{bookItem.name}}