<h2>Create a Potluck</h2>

<form method="POST" action="/process-potlucks" enctype="multipart/form-data">

    <div class="form-group">
        <label>Potluck Name:</label>
        <input name="name" type="text" class="form-control" placeholder="My super birthday party!">
    </div>

    <div class="form-group">
        <label>Location:</label>
        <input name="location" type="text" class="form-control location-input" placeholder="666, Unicorn Street">
    </div>

    <input type="hidden" name="latitude" class="lat-input" />
    <input type="hidden" name="longitude" class="long-input" />

    <div class="form-group">
        <label>Date</label>
        <input name="date" type="date" class="form-control">
    </div>

    <div class="form-group">
        <label>Add A Picture</label>
        <input type="file" name="pictureUpload" class="form-control-file">
    </div>

   
    <button type="submit" class="btn btn-primary">Create Potluck</button>

</form>