<h2>Create a Potluck</h2>

<<<<<<< HEAD
{{!-- always method="POST" & enctype="multipart/form-data" for file uploads --}}
<form method="POST" action="/process-potlucks" enctype="multipart/form-data">
    <label>
=======
<form method="POST" action="/process-potlucks" enctype="multipart/form-data">
<label>
>>>>>>> a946311438964660b04a5242f56dc382606d0a5c
        Name:
        <input type="text" name="name" placeholder="My super birthday party!">
    </label>
    <br>

    <label>
        Location:
        <input type="text" class="location-input" name="location" placeholder="666, Unicorn Street">
    </label>
    <br>

    <input type="hidden" name="latitude" class="lat-input" />
    <input type="hidden" name="longitude" class="long-input" />

    <label>
        Date:
        <input type="date" name="date">
    </label>
    <br>

    <label>
<<<<<<< HEAD
        Picture:
        <input type="file" name="pictureUpload">
=======
        Picture URL:
        <input type="file" name="pictureUpload"/>
>>>>>>> a946311438964660b04a5242f56dc382606d0a5c
    </label>
    <br>

    <button>Save This Potluck</button>
</form>