<h2>Your Potlucks</h2>

<ul>
    {{#each potluckArray}}
    <li>
        <h3>{{this.name}}</h3>
        
        <a href="/potlucks/:{{this.Item_id}}"><img src="{{this.pictureUrl}}"></a>
    </li>
    {{else}}
    <p>You don't have any potlucks yet.</p>
    <a href="/potlucks/create">+ New Potluck</a>
    {{/each}}
</ul>