<h2>Create a Potluck</h2>

<form method="POST" action="/process-potlucks">
    <label>
        Name:
        <input type="text" name="name" placeholder="My super birthday party!">
    </label>
    <br>

    <label>
        Location:
        <input type="text" class ="location-input" name="location" placeholder="666, Unicorn Street">
    </label>
    <br>

        <input type="hidden" name="latitude" class="lat-input"/>
        <input type="hidden" name="longitude" class="long-input"/>

    <label>
        Date:
        <input type="date" name="date">
    </label>
    <br> {{!--
    <label>
        Search
        <input type="search" name="guests" placeholder="John Doe">
    </label>
    <br> --}}

    <label>
        Picture URL:
        <input type="text" name="pictureUrl" placeholder="http://example.com/room.jpg">
    </label>
    <br>

    <button>Save This Potluck</button>
</form>