<div class="home-page">
    <p>{{title}}</p>

    <p>Organizing an event never felt that easy!</p>
    <br>
    <br> {{#if blahUser}}
    <p class="nav-item nav-link active"> Welcome back,
        <strong>{{blahUser.fullName}}</strong> !
    </p>
    <button type="button" class="btn btn-primary btn-lg">
        <a href="/potlucks">Your Potlucks</a>
    </button>
    {{else}}
    <p>Join the party :D</p>

    <button type="button" class="btn btn-primary btn-lg">
        <a href="/signup">Sign Up</a>
    </button>

    <p>Already have an account?</p>
    <button type="button" class="btn btn-primary btn-lg">
        <a href="/login">Log In</a>
    </button>
    {{/if}}
</div>