<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/">Home</a>
    {{#if blahUser}}
    <strong>{{blahUser.fullName}}</strong>
    <a href="/logout">Log Out</a>
    <a href="/potlucks">Your Potlucks</a>
    <a href="/settings">Settings</a>
    {{else}}
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
    {{/if}}
  </nav>

  {{{body}}}

  <footer>Created with hunger 🤤 by Nadia & Manelle</footer>
  <script src='/javascripts/script.js'></script>
</body>

</html>