<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}
    <a href="/">home</a>
    <a href="/login">login</a>
    <a href="/signup">signup</a>
    <a href="/logout">logout</a>



    <script src='/javascripts/script.js'></script>
  </body>
</html>
