<h2>Login</h2>


<form method="POST" action="/process-login">
    <label>
        Email:
        <input name="email" type="text" placeholder="your@email.com">
    </label>
    </br>

    <label>
        Password:
        <input name="loginPassword" type="password" placeholder="shhh!">
    </label>
    </br>

    <button>Log In</button>


</form>
{{!--
<a href="/google/login">Log in with google</a>
</br>
<a href="/github/login">Log in with Github</a> --}}