<h2>Sign Up</h2>

<form method="POST" action="/process-signup">
    <label for="">
        Full Name:
        <input type="text" name="fullName" placeholder="Name"/>
    </label>
    <br/>

    <label>
        Email:    
        <input type="text" name="email" placeholder="email"/>
    </label>
    <br/>

    <label >
        Password
        <input type="text" name="originalPassword" placeholder="pswrd"/>
    </label>
    </br>
    <button>Sign Up</button>
</form>