<h2>Sign Up</h2>

<form method="POST" action="/process-signup" enctype="multipart/form-data">

    <div class="form-group">
        <label>Full Name:</label>
        <input name="fullName" type="text" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
        <label>Email address</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="exampleFormControlFile1">Add A Picture of Yourself</label>
        <input type="file" name="pictureUpload" class="form-control-file" id="exampleFormControlFile1">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input name="originalPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="We won't tell 🙈">
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>

</form>